@import "~bootstrap/dist/css/bootstrap.min.css";

body {
  font-family: "Chakra Petch", sans-serif;
}
#btn {
  font-family: "Amatic SC", bold;
  font-size: x-large;
}
img.redimension {
  max-width: 50%;
  max-height: 50%;
}
